@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  align-items: center;
  justify-content: center;
  background-color: #EDEDF3;
  display: flex;
  font-family: 'Open Sans';
  color: #20252E;
}
body#notBody{
  background-color: #F7F7FA;
  padding: 1em;
}
div.contenedor{
  width: 100%;
}
img{
  border-radius: 50%;
}
li{
  list-style: none;
}
header{
  background-image: linear-gradient(to bottom right, #97E08D, #28B7BD 75%);
  border-radius: 25px;
  height: 200px;
  padding: 1em;
}
p{
  color: #8688A0;
  font-size: .8em;
  line-height: 2em;
  padding: 1em 1.5em;
}
button{
  background-color: transparent;
  border: 0;
  outline: none;
}
/*Estilos Index*/
#indexCab h1, input{
  display: inline-block;
}
#indexCab h1{
  color: #FFF;
  font-size: 1.5em;
}
#indexCab input{
  background-color: rgba(230, 230, 230, 0.4);
  background-image: url(../img/lupab.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  color: #FFF;
  height: 25px;
  width: 25px;
  border-radius: 12.5px;
  vertical-align: bottom;
  outline: none;
  padding-left: 1em;
  position: absolute;
  right: 1em;
}
#indexCab input:focus{
  background-image: none;
  width: 125px;
}
#indexCab h2{
  color: #FFF;
  font-size: .8em;
  margin: 2.5em auto 0 auto;
}
main#mainInd{
  position: relative;
  top: -75px;
}
#mainInd ul{
  display: inline-flex;
}
#mainInd li{
  background-color: #FFF;
  border-radius: 25px;
  display: inline-block;
  margin-left: 1em;
  width: 280px;
}
#mainInd img{
  margin: 1em 0 0 1em;
  height: 64px;
  width: 64px;
}
.imgInPro, .infoInPro{
  display: inline-block;
  vertical-align: middle;
}
.infoInPro{
  width: 160px;
}
.infoInPro h1{
  font-size: 1em;
  padding: .5em 1.2em 0;
}
.pInMain{
  color: #8688A0;
  font-size: .8em;
  padding: 0 1.5em;
}
#exploreCommunities{
  /*margin: auto 1em;*/
  position: relative;
  top: -50px
}
#exploreCommunities h1{
  margin: auto 1em;
  font-size: 1em;
}
#exploreCommunities .contGroup{
  background-color: #FFFFFF;
  border-radius: 25px;
  display: inline-block;
  margin: 1em 0 auto 4%;
  padding: 1em;
  width: 44%;
}
.imgGroup{
  height: 68px;
  width: 68px;
}
.contGroup h2{
  font-size: 1em;
  margin: 1em 0;
}
.mienbros ul, button{
  display: inline-flex;
  vertical-align: middle;
}
.mienbros li{
  display: inline-block;
}
.mienbros img{
  margin-left: .25em;
  height: 28px;
  width: 28px;
}
.mienbros button{
  background-color: #16C7B9;
  border-radius: 50%;
  color: #FFFFFF;
  font-size: .6em;
  height: 28px;
  width: 28px;
}
/*Estilos Profile*/
header#headerPro img{
  border-radius: 0;
  width: 20px;
}
main#mainPro, section#experience{
  background-color: #FFFFFF;
  border-radius: 25px;
  margin: 0 auto 1em auto;
  padding: 1.5em;
  position: relative;
  top: -100px;
  width: 90%;
}
main#mainPro{
  text-align: center;
}
main#mainPro img{
  width: 80px;
}
main#mainPro h1{
  font-size: 1.3em;
}
main#mainPro h2{
  color: #8688A0;
  font-size: .8em;
  font-weight: 400;
  margin: 0.5em auto;
}
main#mainPro button{
  background-image: linear-gradient(to bottom right, #97E08D, #28B7BD 90%);
  border-radius: 20px;
  color: #FFF;
  height: 40px;
  margin: 1em auto 0 auto;
  max-width: 150px;
  min-width: 65px;
  width: 50%;
}
main#mainPro p{
  padding-bottom: 0;
}
section#experience{
  padding: 0;
}
section#experience h1, button{
  display: inline-block;
}
section#experience h1{
  font-size: 1em;
  padding: 1.5em;
}
section#experience button{
  font-size: 1em;
  padding: 1.5em;
  position: absolute;
  right: 0;
}
section#experience ul{
  border-top: 1px solid #DDD;
  width: 100%;
}
section#experience li{
  display: flex;
  padding: 1.5em;
}
section#experience img, div{
  display: inline-block;
  vertical-align: middle;
}
section#experience img{
  height: 50px;
  width: 50px;
}
section#experience div{
  height: 50px;
  align-items: center;
  padding: 0 1em;
  width: 80%;
}
section#experience h2{
  font-size: .9em;
}
section#experience small{
  color: #8688A0;
  font-size: .7em;
  line-height: 3em;
}


/*Estilos notificatio.html*/
h1#h1Not{
  font-size: 1.6em;
}
img#imgNot{
  display: block;
  margin: 7em auto 0 auto;
  width: 368px;
  max-width: 100%;
}
h2#h2Not{
  font-size: 1.3em;
  text-align: center;
}
p#pNot{
  text-align: center;
  padding: 1em 2.5em;
}
